body{
	background-color: #f9f9f9;
	color: #555;
	font: 10px sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.container {
	margin: 15px;   
}

div.left, div.right, div.location, div.wifi, div.bluetooth {
	float: left;
	padding: 10px;    
}

rect.selection {
    stroke          : red;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}
	 
/* Point on which mouse is hovered */	 
.mark:hover, .mark.selected:hover {
	stroke: #c00;
	stroke-width: 4;
	stroke-opacity: 1;
}

.mark.selected{
	stroke: #c00;
	stroke-width: 4;
	stroke-opacity: 0.5;
}

/* Axis */
.axis path,
.axis line {
	font: 10px sans-serif;
	fill: none;
	stroke: #555555;
	shape-rendering: crispEdges;
}

/* Xaxis text */
.x text{
	display: none;
}

/* Button style */
button{
	margin-right: 5px;
	margin-bottom: 5px;
}
/* Radio button style */
label, .x, .y {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
label{
	font-weight: 900;
}
/* Radio buttons colouring */
.labelall{
	color: #1f77b4;
}

.labelmonth{
	color: #FF7F0E;
}

.labelweek{
	color: #2CA02C;
}

input[type=radio] {
	display: none;
}

label:before, .x, .y {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
	border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/* Tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}